name: ecgr4105
channels:
  - defaults
dependencies:
  - ipykernel
  - jupyter
  - jupyterlab
  - matplotlib
  - notebook
  - numpy
  - pandas
  - plotly
  - python=3.11
  - scikit-learn
  - scipy
  - seaborn
  - pandoc
  - pytorch